@import 'variables';
@import 'common';


.main {
  padding-bottom: 48px;
}

.main__side {
  margin-bottom: 36px;
}

.box {
  padding: 0 16px;
}

.side {
  display: flex;
}

.side__open {
  min-height: 50px;
  width: 100%;
  background-color: #000000;
}

.side__toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #151618;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background-color .2s linear;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
}

.cards-view h1 {
  // display: none;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
}

.cards-view__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -32px;
  padding: 0;
  list-style: none;
}

.cards-view__item {
  position: relative;
  width: 200px;
  margin-left: 32px;
  &:not(:last-of-type) {
    margin-bottom: 48px;
  }
  small {
    font-size: 14px;
    color: #727473;
  }
}

.cards-view__thumbnail {
  position: relative;
  display: block;
  margin-bottom: 12px;
  box-shadow: 0 3px 15px rgb(0, 0, 0);
}

.cards-view__img {
  display: block;
  width: 200px;
  height: 280px;
  border-radius: 6px;
}

.cards-view__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
  opacity: 0;
  transition: opacity .3s ease;
}

.cards-view__play {
  content: '';
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  &::after {    
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 10px);
    border: 20px solid transparent; border-left: 30px solid #ffffff;
  }
}

.cards-view__rating {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  span {
    font-size: 14px;    
  }
}

.cards-view__action {
  padding: 6px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s linear;
  &_defer {
    position: absolute;
    top: 16px;
    left: 10px;
    user-select: none;
    &:hover {
      svg {
        opacity: 1;    
      }
    }
    svg {        
      opacity: 0.2;
      transition: opacity 0.1s linear;
    }
  }
  &_favorites {
    position: absolute;
    top: 16px;
    left: 42px;
    &:hover {
      svg {
        opacity: 1;
        fill: red;
      }
    }
    svg {
      fill: white;
      opacity: 0.2;
      transition: all 0.1s linear;
    }
  }
  &_delete {
    position: absolute;
    top: 16px;
    right: 10px;
    display: none;
    &::before {
      box-sizing: border-box;
      z-index: 1;
      content: 'Удалить из избранного';
      position: absolute;
      top: -28px;
      left: -63px;
      width: 155px;
      height: 24px;
      padding: 4px 0;
      background-color: #666666;
      font-size: 13px;
      line-height: 1;
      color: #d4e4e3;
    }
  }
}

.cards-view__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.cards-view__button {
  position: relative;   
  display: inline-flex;
  margin-right: 8px; 
  padding: 0;  
  color: #4D4F4E;
  vertical-align: middle;
  background: transparent;
  border: 0;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 28px;
    height: 28px;
  }
  &:hover {
    svg {
      opacity: 0.8;
    }
  }
  svg {
    opacity: 0.2;
    transition: opacity 0.2s linear;
  }
}

.cards-view__count {
  font-size: 14px;
  color: #6a6b6d;
  vertical-align: middle;
  cursor: default;
}

.cards-view__title {
  margin: 0;  
  margin-bottom: 4px;
  font-size: 14px;

  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.side-menu {
  box-sizing: border-box;  
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: -300px;  
  width: 240px;
  padding-top: 48px;
  padding-left: 26px;    
  background-color: #222222;

  transition: left 0.1s linear;
  &.active {    
    left: 0;
  }
}

.side-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-menu__item {
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.side-menu__items {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  padding-left: 6px;
  list-style: none;  
  opacity: 0;

  height: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: opacity 0.17s linear, transform 0.17s linear;
  li {
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
  }
  a {
    display: inline-block;
    padding: 5.5px 12px;
    border-radius: 20px;
    opacity: 0.4;
    &.active {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.side-menu__button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  &::before {    
    position: absolute;
    top: 0;
    left: -9px;
    width: 2px;
    height: 22px;
    background-color: #fe0100;
  }
  span {
    margin-right: 6px;
  }
  svg {
    fill: #ffffff;
    vertical-align: bottom;
  }
  &.active {
    & + .side-menu__items {
      height: auto;
      opacity: 1;
      transform: scaleY(1);
      transform-origin: top;
      transition: opacity 0.17s linear, transform 0.17s linear;      
    }
  }
  &.active-page {
    position: relative;
    &::before {
      content: '';
    }
  }
}

.side-menu__close {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  transition: opacity 0.2s linear;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.svg-transform {
  transform: scaleX(-1) rotate(180deg);
}

.float {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  bottom: 20px;
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: #fe0000;
  border-radius: 50%;
}

@media (min-width: $sm) {
  .main {
    padding-bottom: 32px;
  }
}

@media (min-width: $md) {
  .box {
    padding: 0 32px;
  }
}

@media (min-width: $lg) {
  .cards-view__item {
    &:hover {
      .cards-view__overlay,
      .cards-view__action  {
        opacity: 1;
      }
    }
    &.active {
      .cards-view__action_delete {
        display: block;
      }
      .cards-view__action_defer {
        display: none;
      }
      .cards-view__action_favorites {
        top: 16px;
        left: 10px;
        opacity: 1;
        svg {      
          opacity: 1;  
          fill: red;
        }
      }
    }
  }
  .cards-view__action {
    &:hover {
      opacity: 1;
    }
  }
  .float {
    display: none;
  }
  
  // menu
  .side-menu {
    position: static;
    padding: 0;
    padding-top: 5px;

    background-color: #151618;
  }

  .side-menu__close {
    display: none;
  }

  .side__toggle {
    display: none;
  }
  .side__open {
    display: none;
    background-color: #151618;
  }
  .main {
    padding-top: 56px;
  }
  .main__side {
    flex-shrink: 0;
    max-width: 208px;    
    margin-right: 32px;
  }
  .main__cols {
    display: flex;
  }
  .box {
    padding: 0;
  }
  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 32px;
  }
  .cards-view {
    flex-grow: 1;
    // flex-shrink: 0;
  }
}